/* Your code here */
.ttt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  border-radius: 5px;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.square {
  display: flex;
  background-color: #eee;
  width: 100px;
  height: 100px;
  color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
}


li {
  list-style-type: none;
}

li:hover {
  background-color: yellow;
}

.click {
  background-color: yellow;
}

.x{
  color: red;
  text-align: center;
}

.o{
  color: blue;
  text-align: center;
}

.winner{
  background-color: green;
  color: white;

}

.tie{
  background-color: white;
  color: red;
}