/* Your code here */
.ttt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  border-radius: 5px;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.square {
  background-color: #eee;
  color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

li {
  list-style-type: none;
}

li:hover{
  background-color: yellow;
}
